<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpraviteljAplikacija</title>
</head>

<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">


    {% block content %}
    <br>
    <h2 style="margin-top: 15px; margin-left: 20px;"><strong>Upravitelj Aplikacija studenata</strong></h2><br>
    <p style="margin-left: 20px;">Ova usluga omogućuje upravljanje i pregled različitih aplikacija studenata. U nastavku
        se nalazi popis svih
        aplikacija koje je moguće filtrirati po akademskoj godini.<br>
        Odabirom željene aplikacije pojavljuju se detaljnije informacije o njenoj namjeni te je omogućen i odlazak na
        samu
        aplikaciju putem poveznice.</p><br>

    <h3 style="margin: 20px"><strong>Aplikacije:</strong></h3><hr>
    
    <div class="row mx-2">
        
        {% for aplikacija in aplikacija_list %}
        <div class="card col-12 col-md-6 col-lg-4 mb-4 mx-2" style="width: 615px; background-color: rgb(53, 53, 53); border-radius: 2%;">
            
            <div class="card-body mx-1">
                <img src="{{aplikacija.aplikacija_slika}}" class="card-img-top" alt="Thumbnail" width="610" height="300" style="border-radius: 2%"/><br>
                <br>
                <h5 class="card-title"><strong><a href="{{aplikacija.aplikacija_naziv}}" style="color: lightgray">{{aplikacija.aplikacija_naziv}}</a></strong></h5>
                <h6 class="card-title">Autori: {% for student in aplikacija.aplikacija_student.all %}{{student}}{% if not forloop.last %}, {% endif %}{% endfor %}</h6><br>
                <h6 class="card-subtitle text-muted">Datum: {{aplikacija.aplikacija_datum}}</h6>
            </div> 
        </div>
    
        {% endfor %}
    </div>
   
    {% endblock %}

</body>

</html>