<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stranica Aplikacije</title>
</head>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><strong>Povratak na popis aplikacija</strong></a></li>
</ol>
<body style="margin-top:20px; margin-left: 250px; margin-right: 250px;">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    
    {% block content %}
    <br>
 
        {% for aplikacija in aplikacija_list %}
        <div class="row">
        <div class="col">
        <h3 style="margin-top: 15px;"><strong>{{aplikacija.aplikacija_naziv}}</strong></h3>
        <h6 class="text-muted">Autori: {% for student in aplikacija.aplikacija_student.all %}{{student}}{% if not forloop.last %}, {% endif %}{% endfor %} </h6></div>
        <div class="col"><a href="{{aplikacija.aplikacija_URL}}"><button type="button" style="position: inherit; background-color: darkred; width: 170px; height: 60px; font-size: large; float: right; margin: 10px;" class="btn" ><strong>Posjeti</strong></button></a></div>
        </div>
        <div class="row">
        <div class="col">{% load static %}<img src="{{aplikacija.aplikacija_slika}}" alt="NaslovnaSLika" class="responsive" style="border-radius: 2%; width: 100%; height: 500px; margin-left: auto; margin-right: auto;"></div>
        </div><br>
        <div class="row">
         <div class="col"><h4><strong>Objavljeno:</strong> {{aplikacija.aplikacija_datum}}</h4></div>
         <div class="col" style="text-align: right;"><h4><strong>Akademska godina: </strong>{{aplikacija.aplikacija_AkGod}}</h4></div>
        </div><br>
         <h4><strong>Opis</strong></h4><hr>
         <h6>{{aplikacija.aplikacija_opis}}</h6>
        {% endfor %}

   
    {% endblock %}

</body>
</html>